<!DOCTYPE html>
<html>
<head><title>Perfect Number</title></head>
<body>
  <h1>Perfect Number Checker</h1>
  <form method="POST">
    <input type="number" name="number" required>
    <button>Check</button>
  </form>
  {{#if result}}
    <p>{{result}}</p>
  {{/if}}
</body>
</html>